<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OPC3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OPC3.Properties.Settings>
            <setting name="HistoryGraphUpdateInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ProgTitle" serializeAs="String">
                <value>N3</value>
            </setting>
            <setting name="Skin" serializeAs="String">
                <value>Alphasense</value>
            </setting>
            <setting name="RollMeanPeriodSecs" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SettlingPeriodMs" serializeAs="String">
                <value>1000</value>
            </setting>
        </OPC3.Properties.Settings>
    </applicationSettings>
</configuration>
